<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <div class="form-signin">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-label-group">
                <%= f.text_field :name, id: "inputName", class: "form-control", autofocus: true, autocomplete: "name", placeholder: "Your name"%>
                <label for="inputName">Your Name</label>
              </div>
              <div class="form-label-group">
                <%= f.email_field :email, id: "inputEmail", class: "form-control", autocomplete: "email", placeholder: "Email address" %>
                <label for="inputEmail">Email address</label>
              </div>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <div class="form-label-group">
                <%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password", autocomplete: "new-password" %>
                <label for="inputPassword">Password</label>
              </div>
              <div class="form-label-group">
                <%= f.password_field :password_confirmation , id: "inputPassword", class: "form-control", placeholder: "Password Confirmation", autocomplete: "new-password" %>
                <label for="inputPassword">password confirmation </label>
              </div>
              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              </div>
              <hr class="my-4">
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
