<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 class="mt-4"><%= @post.title %></h1>
      <!-- Author -->
      <p class="lead">
        by
        <a href="#"><%= @post.user.name %></a>
      </p>
      <% if can? :manage, @post %>
        <span class="">
          <a href=<%= edit_post_path(@post.id) %>>Edit</a>
          <span> | </span>
          <a href="#">Delete</a>
        </span>
      <% end %>
      <hr>
      <!-- Date/Time -->
      <p>Posted on <%= @post.created_at %></p>
      <hr>
      <!-- Preview Image -->
      <img class="img-fluid rounded" src=<%= @post.image_url %> alt="">
      <hr>
      <!-- Post Content -->
      <p><%= @post.description %></p>
      <hr>
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <%= form_for :comment, url: comments_path(post_id: @post.id) do |form| %>
            <div class="form-group">
              <%= form.text_area :content, class: 'form-control' %>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          <% end %>
        </div>
      </div>
      <!-- Single Comment -->
      <% @comments.each do |comment| %>
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"><%= comment.user.name %></h5>
            <p><%= comment.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
